<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        <!-- OLD hello world with bold message 
        hello world! <strong>{{ boldmessage }}</strong><br /><br />
        -->
        {% if categories %}
            <ul>
                {% for category in categories %}
                <!--<li>{{ category.name }}</li> OLD NO LINK-->
                <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>             
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        <h2> View our top pages </h2>
        {% if top_pages %}
            <ul>
                {% for page in top_pages %}                
                <li><a href="{{ page.url }}">{{ page.title }}</a> (views = {{ page.views }})</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no top pages present.</strong>
            <br/><br/>
        {% endif %}
        <a href="/rango/about/">About</a><br /><br />
        <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" /> <!-- New line -->
        <h2>This is the bottom of the page</h2>
    </body>

</html>

