{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Welcome!{% endblock %}

{% block body_block %}
        {% if user.is_authenticated %}
            <h1>Rango says... hello {{ user.username }}!</h1>
        {% else %}
            <h1>Rango says... hello world!</h1>
        {% endif %}
        <!-- OLD hello world with bold message 
        hello world! <strong>{{ boldmessage }}</strong><br /><br />
        -->
        {% if categories %}
            <ul>
                {% for category in categories %}
                <!--<li>{{ category.name }}</li> OLD NO LINK-->
                <li><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'add_category' %}">Add a New Category</a><br />
        {% else %}
            Please <a href="{% url 'auth_login' %}">login</a> or 
            <a href="{% url 'registration_register' %}">register</a> to add new categories<br/>
        {% endif %}
        <br/>
        <h2> View our top pages </h2>
        {% if pages %}
            <ul>
                {% for page in pages %}                
                <li><a href="{{ page.url }}">{{ page.title }}</a> (views = {{ page.views }})</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no top pages present.</strong>
            <br/><br/>
        {% endif %}
 
        <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" /> <!-- New line -->
        <h2>This is the bottom of the page</h2>
{% endblock %}
   

